.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: 1rem;
  color: white;
  margin: auto;
}

.App-link {
  color: #09d3ac;
}
